@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

*{
    padding: 0;margin: 0;box-sizing: border-box;
}
body{
    background-color: #19375b;
    height: 100vh;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    color: #a7bfdc;
}
.container{
    position: absolute;
    width: 600px;
    height: 880px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;



}
.tools, .stats{
    width: 600px;
    height: 100px;
    margin: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;

    background: linear-gradient(#061423, #0d1f32);
}
.symbols i:nth-child(odd){
    color: #febf14;
}
.reset{
    cursor: pointer;
}
.stats{
    margin-top: 20px;
}

.cells{
     display: flex;


}
.cell{
   
    width: 20px;
    height: 15px;
    background-color: #0d1f32;
    margin: 3px;
    border-radius: 5px;
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.5) ;
    cursor: pointer;
    color: #a7bfdc;
    display: flex;
    justify-content: center;
    align-items: center;
    size: 1rem;

}

.player, .draws{
    display: flex;
    flex-direction: column;
}
.label{
   font-weight: 700;
   font-size: 0.7em; 

}
.stats span{
    color: #febf14;
}
#overlay{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1;
    display: none;

}
#message{
    position: absolute;
    height: 30%;
    min-height: 300px;
    width: 100%;
    background-color: #061423;
    z-index: 2;
    font-size: 2em;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: 1px solid #19375b;
    border-bottom: 1px solid #19375b;
    box-shadow: 0 10px 20px #000;
}
#close{
    position: absolute;
    right: 30px;
    top: 20px;
    cursor: pointer;
    padding: 10px;
}
#message h2{
    color: #febf14;
}